@font-face {
	font-family: architects;
	src: url(architectsdaughter-regular.ttf);
}

@font-face {
	font-family: cinzel;
	src: url(cinzel-regular.ttf);
}

@font-face {
	font-family: cinzel;
	src: url(cinzel-bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: lato;
	src: url(lato-regular.ttf);
}

@font-face {
	font-family: lato;
	src: url(lato-bold.ttf);
	font-weight: bold;
}

body{
	margin:0;
	padding:0;
	background-color: #606060;
	font-size: 13px;
	height: 100vh;
	width: 100vw;
}

#allContent {
	position: relative;
    width: 100%;
    height: 100%;
}

.background {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	background: #16081d;
	/*background: linear-gradient(90deg, rgba(80,38,110,0.9) 0%, rgba(153,9,9,0.9) 50%, rgba(180,106,19,0.9) 100%);*/
}


#mainImage {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	transition: 1s;
}

#content {
    z-index: 99;
    position: fixed;
	top: 0;
	left: 0;
    font-family: 'lato', sans-serif;
    width: 100%;
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(to right, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 35%, rgba(0,0,0,0.3) 65%, rgba(0,0,0,0.1) 100%);
    color: #f4f4f6;
}

h1 {
	text-align: center;
	font-size: 7rem;
	margin-bottom: 3rem;
	margin-top: 2.5rem;
	font-family: lato, sans-serif;
	font-weight: bold;
}

h3 {
	text-align: center;
	font-size: 7rem;
	margin: 0;
	font-family: lato, sans-serif;
	
}


h4 {
	text-align: center;
	font-size: 2.2rem;
	margin-bottom: 2.4rem;
	font-family: 'lato', sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
}

#options { 
	width: 840px;
	margin: 4.5rem auto 0;
	padding: 3rem 10% 0;
	background: rgb(0,0,0);
	background: linear-gradient(to right, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.2) 30%, rgba(0,0,0,0.2) 70%, rgba(0,0,0,0.05) 100%);
}

.chi {
	font-family: monospace;
	font-size: 3.1rem;
	text-align: center;
	letter-spacing: 3px;
	font-weight: bold;
}

.chi span {
	font-size: 2.6rem;
	letter-spacing: 10px;
}

.options-list2 {
	margin: 0;
	width: 400px;
	display: inline-block;
	padding-left: 9px;
	list-style-type: disc;
}

.rtl {
	direction: rtl;
	padding-left: 0;
	padding-right: 9px;
	float: right;
}

.options-list2 li {
	font-size: 2rem;
	margin-bottom: 1.7rem;
	font-family: monospace;
}	

#imgLd {
	display: none;
	position: absolute;
	top: 10px;
	left: 10px;
	background: #111;
	color: #d00;
	text-align: center;
	height: 65px;
	width: 300px;
	font-size: 40px;
	line-height: 45px;
	padding-top: 15px;
}

.focus {
	font-size: 9rem;
	margin-bottom: 5rem;
	margin-top: 30vh;
}

.focush3 {
	font-size: 10rem;
}

