body{
	margin:0;
	padding:0;
	background-color: #feb;
	font-size: 13px;
	height: 100vh;
	width: 100vw;
}

#allContent {
	position: relative;
    width: 100%;
    height: 100%;
}

.background {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	background: rgb(131,58,180);
	background: linear-gradient(90deg, rgba(131,58,180,0.5) 0%, rgba(253,29,29,0.5) 50%, rgba(252,176,69,0.5) 100%);
}


#mainImage {
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	opacity: 1.0;
}

.background .refreshStyle {
	/*
	min-width: 90% !important;
	min-height: 90% !important;
	width: 90%;
	height: 90%;
	border: 3px solid red;
	top: 5%;
	left: 5%;
	*/
	outline: 1px solid red;
}

#content {
    z-index: 99;
    position: fixed;
    font-family: 'Verdana', sans-serif;
    width: 60%;
    height: 100%;
    margin-top: -50%;
    margin-left: -50%;
    padding: 25%;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0) 100%);
    color: #eee;
    top: 50%;
    left: 50%;
}

#options { 
	width: 70%;
	margin: auto
}

#options-list {
	margin: 0 10%;
}

#options-list li {
	margin-bottom: 7px;
	font-size: 1.35rem;
}
	

h1 {
	text-align: center;
	font-size: 6rem;
	margin-bottom: 3rem;
}

h3 {
	text-align: center;
	font-size: 3rem;
	margin-bottom: 3rem;
}

h4 {
	text-align: center;
	font-size: 1.4rem;
	margin-bottom: 1.5rem;
}

