@font-face {
	font-family: architects;
	src: url(architectsdaughter-regular.ttf);
}

@font-face {
	font-family: cinzel;
	src: url(cinzel-regular.ttf);
}

@font-face {
	font-family: cinzel;
	src: url(cinzel-bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: lato;
	src: url(lato-regular.ttf);
}

@font-face {
	font-family: lato;
	src: url(lato-bold.ttf);
	font-weight: bold;
}

body{
	margin:0;
	padding:0;
	background-color: #606060;
	font-size: 13px;
	height: 100vh;
	width: 100vw;
}

#allContent {
	position: relative;
    width: 100%;
    height: 100%;
}

.background {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	background: #16081d;
	/*background: linear-gradient(90deg, rgba(80,38,110,0.9) 0%, rgba(153,9,9,0.9) 50%, rgba(180,106,19,0.9) 100%);*/
}


#mainImage {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.one {
	opacity: 1;
	transition: 1s;
	transition-delay: 1s;
}

.zero {
	opacity: 0;
	transition: 1s;
	transition-delay: 0s;
}

#content {
    z-index: 99;
    position: fixed;
	top: 0;
	left: 0;
    font-family: 'lato', sans-serif;
    width: 100%;
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(to right, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.5) 35%, rgba(0,0,0,0.5) 65%, rgba(0,0,0,0.1) 100%);
    color: #f4f4f6;
}

h1 {
	text-align: center;
	font-size: 4.5rem;
	margin-bottom: 2.7rem;
	margin-top: 2.5rem;
	font-family: 'architects', sans-serif;
	font-weight: bold;
}

h3 {
	text-align: center;
	font-size: 5.6rem;
	margin: 1.5rem 0 3rem 0;
	font-family: 'architects', sans-serif;
}

h4 {
	text-align: center;
	font-size: 2.2rem;
	margin-bottom: 2.4rem;
	font-family: 'lato', sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
}

#options { 
	width: 700px;
	margin: 1rem auto 0;
}

.options-list2 {
	margin: 0;
	width: 320px;
	display: inline-block;
	padding-left: 25px;
}

.rtl {
	direction: rtl;
	padding-left: 0;
	padding-right: 25px;
	float: right;
}

.options-list2 li {
	font-size: 1.8rem;
	margin-bottom: 0.7rem;
	font-family: 'lato', sans-serif;
}

.options-list {
	margin: 0 auto;
	margin-bottom: 0.5rem;
	width: 400px;
}

.options-list li {
	font-size: 1.5rem;
	font-family: 'lato', sans-serif;
	margin: 0;
}
	


