body{
margin:0;
padding:0;
background-color: #000;
}

#mainImage{
	min-width:100%;
	min-height:100%;
	position:fixed;
	
}

.background{
	z-index: 0;
}

#allContent{
	position:absolute;
	width: 100%;
}

#settings{
	z-index: 99;
	position: fixed;
	width:200px;
	background-color: #000;
	color: #eee;
	opacity: 0.8;
	bottom:0px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-left:5px;
	margin: 0px 0px 5px 5px;
}

#content{
	z-index: 99;
	font-family: 'Verdana', sans-serif;
	width: 70%;
	margin: auto;
	text-align: center;
	padding: 80px 100px;
	background: rgb(0,0,0);
	background: radial-gradient(circle, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0) 100%);
	color: #eee;
}

