body{
	margin:0;
	padding:0;
	background-color: #e93;
	font-size: 13px;
	height: 100vh;
	width: 100vw;
}

#allContent {
	position: relative;
    width: 100%;
    height: 100%;
}

.background {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	background: rgb(131,58,180);
	background: linear-gradient(90deg, rgba(80,38,110,0.9) 0%, rgba(153,9,9,0.9) 50%, rgba(180,106,19,0.9) 100%);
}


#mainImage {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 1.0;
	top: 0;
	left: 0;
}

.background .refreshStyle {
	
	width: 80%;
	height: 80%;
	top: 10%;
	left: 10%;
	outline: 5px solid #800;
	transition: 3s;
	transition-delay: 3s;
}

#content {
    z-index: 99;
    position: fixed;
	top: 10vh;
	left: 10%;
    font-family: 'Verdana', sans-serif;
    width: 80%;
    height: 80vh;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0) 100%);
    color: #eee;
}

#options { 
	width: 70%;
	margin: auto
}

#options-list {
	margin: 0 10%;
}

#options-list li {
	margin-bottom: 7px;
	font-size: 1.5rem;
}
	

h1 {
	text-align: center;
	font-size: 6rem;
	margin-bottom: 3.5rem;
}

h3 {
	text-align: center;
	font-size: 3rem;
	margin-bottom: 3.5rem;
}

h4 {
	text-align: center;
	font-size: 1.7rem;
	margin-bottom: 1.5rem;
}

