@font-face {
	font-family: architects;
	src: url(architectsdaughter-regular.ttf);
}

@font-face {
	font-family: cinzel;
	src: url(cinzel-regular.ttf);
}

@font-face {
	font-family: cinzel;
	src: url(cinzel-bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: lato;
	src: url(lato-regular.ttf);
}

@font-face {
	font-family: lato;
	src: url(lato-bold.ttf);
	font-weight: bold;
}

body{
	margin:0;
	padding:0;
	background-color: #606060;
	font-size: 13px;
	height: 100vh;
	width: 100vw;
}

#allContent {
	position: relative;
    width: 100%;
    height: 100%;
}

.background {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	background: #140819;
	/*background: linear-gradient(90deg, rgba(80,38,110,0.9) 0%, rgba(153,9,9,0.9) 50%, rgba(180,106,19,0.9) 100%);*/
}


#mainImage {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1.0;
	transition: 8s;
}

#mainImage.refreshStyle {
	/*
	width: 80%;
	height: 80%;
	top: 10%;
	left: 10%;
	*/
	opacity: 0.2;
	transition: 8s;
}

#mainImage.opacityZero {
	opacity: 0;
	transition: 8s;
}

#content {
    z-index: 99;
    position: fixed;
	top: 0;
	left: 0;
    font-family: 'lato', sans-serif;
    width: 100%;
    height: 100vh;
    background: rgb(0,0,0);
    background: radial-gradient(rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0.2) 70%, rgba(0,0,0,0) 100%);
    color: #eee;
}

#options { 
	width: 70%;
	margin: auto
}

#options-list {
	margin: 0 22%;
	padding: 0;
}


@media screen and (min-width: 900px) and (max-width: 999px) {
	#options-list {
		margin: 0 13%;
	}
}

@media screen and (max-width: 899px) {
	#options-list {
		margin: 0 9%;
	}
}

#options-list li {
	margin-bottom: 0.8rem;
	font-size: 1.7rem;
	font-family: 'lato', sans-serif;
	list-style-property: none;
	text-align: left;
}

#options-list li.right {
	text-align: right;
}
	

h1 {
	text-align: center;
	font-size: 6rem;
	margin-bottom: 3.5rem;
	margin-top: 3rem;
	font-family: 'cinzel', sans-serif;
	font-weight: bold;
}

h3 {
	text-align: center;
	font-size: 4rem;
	margin-bottom: 4.5rem;
	font-family: 'architects', sans-serif;
}

h4 {
	text-align: center;
	font-size: 2.2rem;
	margin-bottom: 1.5rem;
	font-family: 'lato', sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
}

