body{
margin:0;
padding:0;
background-color: #000;
}

#mainImage{
	min-width:100%;
	min-height:100%;
	position:fixed;
	
}

.background{
	z-index: 0;
}

#allContent{
	position:absolute;
	width: 100%;
}


#content{
	z-index: 99;
	font-family: 'Verdana', sans-serif;
	width: 50%;
	margin: auto;
	
	padding: 80px 100px;
	background: rgb(0,0,0);
	background: radial-gradient(circle, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0) 100%);
	color: #eee;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

